@{
    ViewData["Title"] = "Příspěvky";
	var posts = (IEnumerable<dynamic>)Model;
}

<div class="text-center">
    <h1 class="display-8">Vaše příspěvky</h1>
	<p>Na této stránce si můžete zobrazit a spravovat veškeré vaše příspěvky!</p>
</div>

@* <table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Popis příspěvku</th>
			<th>Datum přidání příspěvku</th>
			<th>Akce</th>
			<th>Možnosti</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var post in posts)
		{
			<tr>
				<td>@post.PostId</td>
				<td>@post.Text</td>
				<td>@post.ReleaseDate.ToString()</td>
			<td>
					<a class="btn btn-primary" asp-action="EditPost" asp-route-id="@post.PostId">Edit</a>
					<a class="btn btn-danger" asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a>
				</td>
				<td>
					@if ((bool)post.hasUserLiked)
					{
						<a class="btn btn-danger" asp-action="LikePost" asp-controller="Post" asp-route-id="@post.PostId">Unlike</a>
					}
					else
					{
						<a class="btn btn-primary" asp-action="LikePost" asp-controller="Post" asp-route-id="@post.PostId">Like</a>
					}
					<a class="btn btn-secondary" asp-action="LikeInfo" asp-controller="Post" asp-route-id="@post.PostId">Zobrazit liky</a>
					<a class="btn btn-primary" asp-action="Comment" asp-controller="Post" asp-route-id="@post.PostId">Přidat komentář</a>
					<a class="btn btn-secondary" asp-action="CommentInfo" asp-controller="Post" asp-route-id="@post.PostId">Zobrazit komentáře</a>
				</td>
			</tr>
		}
	</tbody>
 *@

<div class="d-flex flex-column justify-content-center align-items-center" style="gap: 2em">
	<a asp-action="CreatePost" class="btn btn-primary"><i class="bi bi-plus-square"></i> Vytvořit nový příspěvek</a>
	@foreach (var post in Model)
	{
		<div class="card" style="width: 22rem;">
			<img src="@Url.Content("~/images/" + @post.ImgPath)" class="card-img-top fixed-img-height" alt="Card image cap">
			<div class="card-body">
				<p class="card-text text-center mb-0">@post.Text</p>
				<p class="card-text text-center"><i class="bi bi-calendar-date"></i> @post.ReleaseDate.ToString()</p>

				<div class="d-grid gap-2">
					<div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 1em;">
						<a class="btn btn-success" asp-action="EditPost" asp-route-id="@post.PostId">
							<i class="bi bi-pencil"></i>
							 Edit
						</a>
						<a class="btn btn-danger" asp-action="DeletePost" asp-route-id="@post.PostId"><i class="bi bi-trash"></i> Delete</a>
					</div>

					<div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 1em;">
						@if ((bool)post.hasUserLiked)
						{
							<a class="btn btn-danger" asp-action="LikePost" asp-controller="Post" asp-route-id="@post.PostId"><i class="bi bi-heart-fill"></i> Unlike</a>
						}
						else
						{
							<a class="btn btn-primary" asp-action="LikePost" asp-controller="Post" asp-route-id="@post.PostId"><i class="bi bi-heart"></i> Like</a>
						}
						<a class="btn btn-outline-info" asp-action="LikeInfo" asp-controller="Post" asp-route-id="@post.PostId"><i class="bi bi-heart-fill"></i> Likes</a>
					</div>

					<div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 1em;">
						<a class="btn btn-primary px-0" asp-action="Comment" asp-controller="Post" asp-route-id="@post.PostId">
							<i class="bi bi-chat-dots"></i>
							Comment
						</a>
						<a class="btn btn-outline-info px-0" asp-action="CommentInfo" asp-controller="Post" asp-route-id="@post.PostId">
							<i class="bi bi-chat-dots-fill"></i>
							 Comments
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>

